*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}


body{
    min-height: 100vh;
    background-color: #fff;
    color: #222327;
    padding-top: 55px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f0f0e1;
    transition: all .50s ease;
    border: solid black 1px;
    height: 50px;
}

nav ul{
    display: flex;
    transition: all 0.3s ease-in-out;
}

nav a{
    color: #75756e;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

nav a:hover{
    color: #222327;
}

nav a:active{
    color: #222327;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    height: 400px;
}

.card img{
    width: 100%;
    height: auto;
}

.card:hover{
    transform: scale(1.1);
    transition: all .50s ease;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

@media (max-width: 1280px){
    header{
        padding: 2vh 2%;
        transition: .2s;
    }

    nav a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none; /* Escondemos a navegação em telas pequenas */
        flex-direction: column; /* Organiza os itens verticalmente */
        width: 270px;
        height: 29vh;
        background-color: #fff; /* Fundo para o menu */
        position: fixed;
        padding: 10px 0;
        transition: all .50s ease;
        border-radius: 10px;
    }

    nav ul.active {
        display: block; /* Exibe a navegação quando o menu for ativado */
    }

    nav a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    
    nav a:hover{
        color: #222327;
        transform: translateY(5px);
    }
    
    nav a:active{
        color: #222327;
    }

    .menu-icon {
        display: block; /* Exibe o ícone do menu */
        cursor: pointer;
        font-size: 30px;
        color: #222327;
    }

    .menu-icon.active {
        color: #222327;
    }

    header {
        padding: 2vh 5%;
        justify-content: space-between;
    }

    h3{
        font-size: 15px;   
    }

}

@media (min-width: 769px) {
    .menu-icon {
        display: none; /* Esconde o ícone em telas maiores que 768px */
    }
}
